<h1 class="text-center text-light mb-4 mt-3">My Bookings</h1>

<div class="container" style="min-width: 80vw;">
  <div class="row">
    <div class="col d-flex justify-content-center table-responsive">

      <table class="table table-secondary table-striped table-hover align-middle opacity-75 mt-3">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Car</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <% @bookings.each do |booking| %>
            <tr scope="row">
              <td><%= booking.id %></td>
              <td><%= booking.car.name %></td>
              <td><%= booking.start_date %></td>
              <td><%= booking.end_date %></td>
              <td><%= booking.status %></td>
              <td>
                <%= link_to 'Show', car_path(booking.car), class: 'btn btn-primary btn-sm' %>
                <%#= link_to 'Edit', edit_car_booking_path(@car, booking), class: 'btn btn-secondary btn-sm' %>
                <%#= link_to 'Cancel', car_booking_path(@car, booking), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%#= link_to 'New Booking', new_car_booking_path(@car), class: 'btn btn-success' %>
    </div>
  </div>
</div>
