<%= simple_form_for [@car, @booking], remote: true do |f| %>
  <div class="form-inputs">
    <%= f.input :start_date, label: "Start date", as: :string, input_html: { data: { controller: "datepicker" } } %>
    <%= f.input :end_date, label: "End date", as: :string, input_html: { data: { controller: "datepicker" } } %>
  </div>
  <%= "The reservation for this car is automatic" %>

  <div class="form-actions">
    <%= f.button :submit, "Create Booking", class: "btn btn-primary" %>
  </div>
<% end %>
