<div class="container-index-cars">
  <h1 class="title-cars text-center">Choose your daily dream car</h1>
  <div class="row">
    <% @cars.each do |car| %>
      <div class="col-md-4">
        <%= link_to car_path(car), class: "card" do %>
          <div class="card">
            <%= image_tag car.picture.url, class: "card-img-top", alt: "" %>
            <div class="card-body">
              <h3 class="card-title"><%= car.name %></h3>
              <p class="card-text index-text"><i class="fa-solid fa-map-pin"></i> <%= car.address %></p>
              <p class="card-text index-text"><%= car.price %> <i class="fa-solid fa-euro-sign"></i> € /day </p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
