<button data-action="booking#toggle">Book This Car</button>

<div data-controller="booking">
  <div data-booking-target="form" class="hidden">
    <%= form_with model: Booking.new, url: bookings_path, local: true do |form| %>
      <div>
        <%= form.label :start_date, "Start Date:" %>
        <%= form.date_field :start_date, required: true %>
      </div>

      <div>
        <%= form.label :end_date, "End Date:" %>
        <%= form.date_field :end_date, required: true %>
      </div>

      <div>
        <%= form.label :name, "Name:" %>
        <%= form.text_field :name, required: true %>
      </div>

      <div>
        <%= form.submit "Submit Booking" %>
      </div>
    <% end %>
  </div>
</div>
